/* general */ 
* {
  box-sizing: border-box;
  margin-top: 1%;
}

body {
background-image: url("/assets/images/joyce-g-ITVCF_F1_00-unsplash.jpg");
background-size: cover;
background-repeat:repeat;
background-color: #000;
background-position: center;
height: 100%;
}  

.container {
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  display: block;
  width: 100%;
}

#search-clear-show {
  font-family: sans-serif;
  font-size: 30px;
  background-color: #999;
  margin: 0px 0px 15px 0px;
  height: 80%;
  border-radius: 8px; 
  margin-left: 1.5%;  
}

#search-clear-show:hover {
  transform: translateY(4px);  
}

#search-inquiry {
margin: 30px;
width: 90%;
height: 50px;
border-radius: 10px;
}

::placeholder {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

#clear-history {
  font-family: sans-serif;
  font-size: 30px;
  background-color: #999;
  margin: 0px 0px 15px 0px;
  height: 30%;
  border-radius: 8px;
}

#search-song {
  margin: 30px;
  width: 90%;
  height: 50px;
  border-radius: 10px;
}

.result {
  color: white;
  background-color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  }

h1 {
font-family: sans-serif;
color: #999;
font-size: 50px;
font-weight: bold;
}

h2 {
color:white;
}

.song-data {
border: 3px solid white;
border-radius: 10px;
min-height: 450px;
margin-top: 50px;
margin-right: 2%;
width: 38%;
text-align: center;
float: left;
}

.setlist {
border: 3px solid white;
border-radius: 10px;
min-height: 450px;
margin-top: 50px;
width: 59%;
text-align: center;
float: right; 
}

/* footer */
footer {
position: fixed
width: 100%;
padding: auto;
font-family: sans-serif;
font-size: 22px;
font-weight: bold;
text-align: center;
color: white;
}

#lyrics {
font-family: sans-serif;
color: rgb(237, 234, 234);
font-size: 20px;
}

#metadata {
font-family: sans-serif;
color: rgba(237, 35, 25, 0.834);
font-size: 45px;
}

#option {
width: 50%;
margin-top: 1em;
}